<header class="bg-black py-md">
  <div class="container fc-white flex-jc_sb fs-16">
    <div class="logo"><a href="/">畅言</a></div>
    <div class="nav">
      <a class="pl-md" href="/release">
        <i class="iconfont icon-release"></i>
      </a>
    </div>
  </div>
</header>