<header class="bg-black py-md">
    <div class="container fc-white flex-jc_sb fs-16">
        <div class="logo">T_T</div>
        <div class="nav">
            <a class="pl-md" href="/">首页</a>
            <a class="pl-md" href="/add">新增</a>
        </div>
    </div>
</header>
