.release {
  border-radius: 5px;
}

.release-input textarea {
  width: 100%;
  resize: none;
  border: none;
  font-size: 16px;
}

.release-input textarea:focus {
  outline: none;
}

.release-img {
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.release-img .release-img_item {
  position: relative;
  flex: 1 0 30%;
  max-width: calc(100% / 3 - 10px) !important;
  margin: 0 5px 10px;
  border-radius: 5px;
  background: 50% 50% no-repeat;
  background-size: cover;
}

.release-img .release-img_item::after {
  content: "";
  padding-top: 100%;
  display: block;
}

.release-img .release-img_item .icon-close {
  position: absolute;
  right: 5%;
  top: 5%;
  background: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}

.release-button {
  text-align: center;
  line-height: 35px;
  display: flex;
  justify-content: space-between;
}

.release-button .release-usercode {
  flex: 1 1 auto;
  width: 100%;
  height: 35px;
  border: var(--color-grey) 1px solid;
  padding: 0 10px;
  border-radius: 5px;
}

.release-button .release-usercode:focus {
  outline: none;
}

.release-button .iconfont {
  flex: 0 0 60px;
  height: 35px;
  font-size: 18px;
  background-color: var(--color-grey);
  border-radius: 5px;
  cursor: pointer;
}

.release-file {
  display: none;
}

.release-tip {
  color: #a6a6a6;
}

.release-tip .release-tip-content {
  text-indent: 3em;
}

.upload {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.upload .iconfont {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
