<div class="release bg-white p-md">
  <div class="release-input">
    <textarea name="" id="" cols="30" rows="10" placeholder="今天想说什么呢~"></textarea>
  </div>
  <div class="release-img">
    <!-- <div class="release-img_item">
      <div class="release-img_item_x"></div>
    </div> -->
    <!--  <div class="release-img_item"></div>
    <div class="release-img_item"></div>
    <div class="release-img_item"></div>
    <div class="release-img_item"></div>
    <div class="release-img_item"></div>
    <div class="release-img_item"></div>
    <div class="release-img_item"></div> -->
  </div>
  <div class="release-button">
    <button class="release-button_image">图片</button>
    <button class="release-button_send">发送</button>
  </div>
  <input type="file" class="release-file" accept="image/png,image/jpeg,image/jpg,image/gif" multiple>
</div>