<div class="release bg-white p-md">
  <div class="release-input">
    <textarea name="" id="" cols="30" rows="10" placeholder="今天想说什么呢~"></textarea>
  </div>
  <div class="release-img"></div>
  <div class="release-button">
    <input type="text" class="mr-md release-usercode" placeholder="请输入你的身份码 ^_^">
    <div class="release-button_image iconfont icon-images mr-md"></div>
    <div class="release-button_send iconfont icon-release-send"></div>
  </div>
  <input type="file" class="release-file" accept="image/png,image/jpeg,image/jpg,image/gif" multiple>
</div>
<div class="release-tip mt-md">
  <div>注意：以下图片选中也会被忽略</div>
  <div class="release-tip-content">1. 大小超过5M</div>
  <div class="release-tip-content">2. 格式非JPG，JPEG，PNG，GIF</div>
  <div class="release-tip-content">3. 已展示数量满9张</div>
</div>